* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'montseratt', sans-serif;
}

main {
  min-height: 100vh;
  text-align: center;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;

}

.location-box .location {
  font-size: 32px;
  font-weight: 500;
}
.date {
  font-size: 22px;
  font-weight: 200;
}

.weather {
  font-size: 25px;
  font-weight: 300;
}